@page
@model MyScriptureJournal.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Scripture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Scripture.book" class="control-label"></label>
                <input asp-for="Scripture.book" class="form-control" />
                <span asp-validation-for="Scripture.book" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scripture.chapter" class="control-label"></label>
                <input asp-for="Scripture.chapter" class="form-control" />
                <span asp-validation-for="Scripture.chapter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scripture.verse" class="control-label"></label>
                <input asp-for="Scripture.verse" class="form-control" />
                <span asp-validation-for="Scripture.verse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scripture.notes" class="control-label"></label>
                <input asp-for="Scripture.notes" class="form-control" />
                <span asp-validation-for="Scripture.notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scripture.dateAdded" class="control-label"></label>
                <input asp-for="Scripture.dateAdded" class="form-control" />
                <span asp-validation-for="Scripture.dateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
