@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div id= "nav-buttons">

    <a id ="viewQuotesLink" href = "/Quotes">View All Quotes</a>
    <a id ="createQuotesLink" href = "/Quotes/Create">Create New Quote</a>

</div>
